# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/

# Build / dist
build/
dist/
*.whl
*.tar.gz

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Test çıktıları
.pytest_cache/
.coverage
htmlcov/
